/**
font-family: 'Mooli', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:wght@800&family=Permanent+Marker&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* aca comienza el header */
nav-wrapper{
    width: 100%;
    margin:0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a img{
    width: 15rem;
    height: 4.25rem;
    background-color: black;
    color: white;
}

nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1.5rem;
    text-decoration: none;
    background-color: black;
    color: white;
}

.divNav{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    padding:1rem 1.5rem;
    gap: 1rem;
}

nav ul{
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    font-family: 'Mooli', sans-serif;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    background-color: black;
}

nav #toggle, nav label{
    display: none;
}

.divNav a img{
    width: 2.3rem;
    height: 2.1rem;
    }
    

@media(max-width: 768px){
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0px;
    }
    nav label{
        display: flex;
        cursor: pointer;
    }
    nav #toggle:checked ~ .menu{
        height:100%
    }
}

@media(max-width: 320px){
    a img{
        width: 12rem;
        height: 3.5rem;
    }
}


/* aca termina el header */


/* aca comienza el index */

.sectionPrincipal{
    background-image: url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1511&q=80");
    width: 100%;
    height: 100hv;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 1.35rem;
    font-family: 'Quicksand', sans-serif;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

}

.sectionPrincipal h1{
    font-size: 4rem;
    color:white;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1rem;
}

@media(max-width:1024px){
    .sectionPrincipal h1{
        font-size: 3.25rem;
        gap: 1rem;
    }
}

@media(max-width:768px){
    .sectionPrincipal{
        padding: .2rem;
        font-size: 1.22rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .sectionPrincipal h1{
        font-size: 2.75rem;
    }
}

@media(max-width:428px){
    .sectionPrincipal{
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .sectionPrincipal h1{
        font-size: 2rem;
    }
}

@media(max-width:320px){
    .sectionPrincipal{
        gap: 3rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 1rem;
    }
    .sectionPrincipal h1{
        font-size: 1.85rem;
    }

        
}

.sectionSecundaria{
    text-align: center;
    padding: 1rem;
    background-color: white;
    font-size: 1.25rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-bottom: .5rem;
    margin: none;
}

.sectionSecundaria h2{
    font-family: 'Open Sans', sans-serif;
}


.sectionSecundaria button{
    font-size: 1.25rem;
    text-decoration: none;
    list-style: none;
    background: black;
    padding: 0.25rem 0.25rem 0.25rem 0.rem;
    margin: 0.5rem;
    color: white
}

.sectionSecundaria button a{
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.cardContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30rem;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    margin: 1.5rem;
}

@media(max-width:1024px){
    .cardContainer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: left;
        height: 30rem;
        padding-right: 3.5rem;
    }
    
}

@media(max-width:768px){
    .cardContainer{
        display: flex;
        width: 100%;
        height: 100rem;
        justify-content: center;
        align-items:  center;
        justify-items: center;
        align-content:  center;
        flex-direction: column;
        gap: none;
        margin: none;
        padding-bottom: none;
        padding-top: none;
    }
}


.card{
    width: 18.75rem;
    height: 30rem; 
    overflow: hidden;
    margin: 1.5rem;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 3rem;
}


.card h3{
    font-weight: bold;
    font-size: 1.65rem;
    font-family: 'Quicksand', sans-serif;
}

.card div img{
    width: 100%;
    height: 18rem; 
    object-fit: contain;
    object-position: top;
}

.card button{
    text-decoration: none;
    list-style: none;
    background: black;
    color: white;
    margin-top: 1rem;
}

.card button a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0.15rem 0.15rem 0.15rem 0.15rem;
    justify-items: center;
}



.sectionTerciaria{
    text-align: left;
    background-color: #1E1438;
    font-size: 1.5rem;
    color: white;
    display: flex;
    gap: 3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


.sectionTerciaria div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
}

@media(max-width:1024px){
    .sectionTerciaria{
        text-align: center;
        color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 0rem;
        justify-items: center;
        gap: 0rem;
        margin: 0rem;
    }
    .sectionTerciaria div img{
        object-fit:contain;
        object-position: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        padding-top: 0rem;
        margin-top: 0rem;
    }
}

@media(max-width:428px){
    .sectionTerciaria{
        font-size: 1.15rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        margin: none;
        gap: 1rem;
    }
    .sectionTerciaria article{
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        margin: none;
        gap: 1rem;
    }
}



.sectionTerciaria article{
    padding: 2.5rem;
    margin: 2.5rem;
    align-items: left;
    font-family: 'Roboto', sans-serif;
}

.sectionTerciaria h2{
    font-family: 'Open Sans', sans-serif;
}

.sectionTerciaria button{
    font-size: 1.25rem;
    text-decoration: none;
    list-style: none;
    background: white;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    margin: 0.5rem;
    color: black
}

.sectionTerciaria button a{
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

/* aca termina el index */

/* aca empieza la pagina about me*/


.sectionSecundariaBis{
    text-align: center;
    display: flex;
    flex-direction:row;
    padding: 1rem;
    background-color: white;
    font-size: 1.5rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    gap: 5rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items:center;
    flex-wrap: nowrap;
}


.sectionSecundariaBis h2{
    font-family: 'Open Sans', sans-serif;
}

.sectionSecundariaBis h3{
    font-family: 'Roboto', sans-serif;

}

.sectionSecundariaBis p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.sectionSecundariaBis div img{
    width: 100%;
    height: 30rem;
    align-items: left;
}

.sectionSecundariaA{
    display: flex;
    background-color: black;
    text-align: center;
    align-content: center;
    justify-content: center;
    color:white;
    font-family:  'Open Sans', sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.sectionSecundariaBisBis{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.sectionSecundariaBisBis button{
    display: flex;
    text-decoration: none;
    list-style: none;
    border-color: none;
    border-style: none;
    color: black;
    background-color: white;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items:center;
    justify-items:center;
}

.sectionSecundariaBisBis button a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

@media(max-width:1024px){
    .sectionSecundariaBis{
        gap:0.95rem;
    }

    .sectionSecundariaBis div img{
        width: 100%;
        height: 100hv;
        align-items: left;
        margin-top: none;
        margin-bottom: none;
        padding-top: none;
        padding-bottom: none;
        object-fit: cover;
    }

    .sectionSecundariaBis h2{
        margin-top: none;
        margin-bottom: none;
        padding-top: none;
        padding-bottom: none;
    }

}

@media(max-width:768px){
    .sectionSecundariaA{
        font-size:1.15rem;
    }
}

@media(max-width:428px){
    .sectionSecundariaBis{
        font-size:1rem;
        display: flex;
        flex-direction:column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .sectionSecundariaBis div img{
        width: 20rem;
        height: 20rem;
    }

    .sectionSecundariaA h2{
        font-size: 1.15rem;
        padding-bottom: 1rem;
        flex-wrap: wrap;
    }
    .sectionSecundariaA iframe{
        width: 100%;
        height: 100hv;
        object-fit: contain;
    }
}

@media(max-width:320px){
    .sectionSecundariaBisBis button a{
        font-size: 1.25rem;
    }
}

/* aca termina la pagina about me*/

.mainRegistro{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.mainRegistro h2{
    font-family: 'Open Sans', sans-serif;
    color: white
}

.mainRegistro form label{
    font-family: 'Mooli', sans-serif;
    color: white
}

.logIn form{
    display: flex;
    flex-direction: column;
}

.nuevoUsuario form{
    display: flex;
    flex-direction: column;
}

.mainCarrito{
    background-color: black;
}

.mainCarrito h1{
    font-family: 'Mooli', sans-serif;
    text-align: center;
    color: white
}

.mainCarrito button{
    font-family: 'Mooli', sans-serif;
    display: inline-block;
    margin: 15rem;
}



.gridContainer{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(6,1fr);
    grid-template-areas:
    "servicios servicios servicios servicios"
    "cartaNatal cartaNatal cartaAdultos cartaNinos"
    "revSolar revSolar revAdultos revNinos"
    "coaching coaching coachAdultos coachNinos"
    "astro astro basico intermedio"
    "astro astro avanzado experto"
    ;
    row-gap: .15rem;
    justify-items: center;
    align-items: center;
    background-color: black;
    color:white;
    }

    .item1{
    grid-area:servicios;
    width: 100%;
    text-align: center;
    font-size: 2.15rem;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    background-color:white;
    color:black;
    }
    
    .item2{
    grid-area:cartaNatal;
    background-image: url(../assets/img/carta-natal-adultos.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    font-family: 'Mooli', sans-serif;
    }

    .item3{
    grid-area:cartaAdultos;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    }

    .item3 button{
        margin-top: .5rem;
    }

    .item3 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    
    .item4{
    grid-area:cartaNinos;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    }

    .item4 button{
        margin-top: 0.5rem;
    }

    .item4 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    
    .item5{
    grid-area:revSolar;
    background-image: url(../assets/img/rev-solar.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2rem;
    font-size: 1.15rem;
    font-family: 'Mooli', sans-serif;
    }
    
    .item6{
    grid-area:revAdultos;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    gap:.25rem;
    }

    .item6 button{
        margin-top: .5rem;
    }

    .item6 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    
    
    .item7{
    grid-area:revNinos;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    gap:.25rem;
    }

    .item7 button{
        margin-top: 1rem;
    }

    .item7 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    
    .item8{
    grid-area:coaching;
    background-image: url(../assets/img/coaching.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    text-align: center;
    font-size: 1.15rem;
    font-family: 'Mooli', sans-serif;
    }
    .item9{
    grid-area:coachAdultos;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    gap:.25rem;
    }

    .item9 button{
        margin-top: .5rem;
    }

    .item9 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    
    
    .item10{
    grid-area:coachNinos;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    gap:.25rem;
    }

    .item10 button{
        margin-top: 1rem;
    }

    .item10 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    
    
    .item11{
    grid-area:astro;
    background-image: url(../assets/img/cursos-astrologia.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    padding-top: 5.5rem;
    font-family: 'Mooli', sans-serif;
    }
    
    
    .item12{
    grid-area:basico;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    gap:.25rem;
    }

    .item12 button{
        margin-top: .5rem;
    }

    .item12 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    
    
    .item13{
    grid-area:intermedio;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    gap:.25rem;
    }

    .item13 button{
        margin-top: .5rem;
    }

    .item13 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }

    .item14{
    grid-area:avanzado;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    gap:.25rem;
    }

    .item14 button{
        margin-top: .5rem;
    }

    .item14 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    .item15{
    grid-area:experto;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    gap:.25rem;
    }

    .item15 button{
        margin-top: .5rem;
    }

    .item15 button a{
        font-size: 1rem;
        text-decoration: none;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }

    .mainPrincipal{
        background-color:black;
        color: white;
        display: flex;
        list-style: none;
        font-size: 1.25rem;
        justify-content: space-between;
        align-items: left;
        flex-direction: column;
        gap: 3rem;
    }

    /* aca empieza el footer */

.footerPrincipal{
    background-color:black;
    color: white;
    list-style: none;
    font-size: 1rem;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:1rem 1.5rem;
    gap: 1rem;
}


.footerPrincipal ul{
    margin: 2.5rem;
    font-size: 0.85rem;
    font-family: 'Mooli', sans-serif;
}

.footerPrincipal div a img{
    display:flex;
    align-items: center;
    padding-top: 1rem 1rem 1rem 1rem;
    gap: 1rem;
    width: 3.2rem;
    height: 3rem;
}

@media(max-width:1024px){
    .footerPrincipal{
        display: flex;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
    }
    .footerPrincipal ul{
        margin: 1rem;
        font-size: 0.70rem;
        font-family: 'Mooli', sans-serif;
        justify-content: space-between;
        justify-items: center;
        align-content: flex-start;
        align-items: flex-start;
        padding-right: 1.5rem;
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width:428px){
    .footerPrincipal{
        display: flex;
        flex-direction:column;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 0.045rem;
        padding-left: 2.5rem;
    }
    .footerPrincipal ul{
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-align: center;
        gap: 0.045rem;
    }
    .footerPrincipal div a img{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem 1rem 1rem 1rem;
        gap: 0.6rem;
        width: 2.1rem;
        height: 2rem;
    }
}

@media(max-width:320px){
    .footerPrincipal{
        padding-left: 4rem;
    }
}
    /* aca termina el footer */