.mainCarrito {
	background-color: black;
	h1 {
		font-family: 'Mooli', sans-serif;
		text-align: center;
		color: white;
	}
	button {
		font-family: 'Mooli', sans-serif;
		display: inline-block;
		margin: 15rem;
	}
}