
.mainRegistro {
	background-color: black;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	h2 {
		font-family: 'Open Sans', sans-serif;
		color: white;
	}
	form label {
		font-family: 'Mooli', sans-serif;
		color: white;
	}
}
.logIn form {
	display: flex;
	flex-direction: column;
}
.nuevoUsuario form {
	display: flex;
	flex-direction: column;
}